.top {
  margin: 30px;
}

input[type="file"] {
  display: none;
}

.choose {
  background-color: #00bfff;
  /* background-image: ; */
  border-radius: 6px;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 6px;
  margin-right: 10px;
  padding-bottom: 10px;
}
.choose:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
.textArea {
  color: white;
}

.upload {
  border: 1px solid #13aa52;
  background-color: #13aa52;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 10px;
}

.upload:hover {
  border: 1px solid #13aa52;
  background-color: #a5efc1;
  color: #ffffff;
  padding: 5px 10px;
}

.upload:disabled,
.upload[disabled] {
  border: 1px solid white;
  background-color: white;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

